 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}
.container{
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  
}
.logo{
   font-size: 20px;
   font-weight: bold;
   color: black;
   cursor: pointer;
   text-transform: uppercase;
}
nav li{
    display: inline-block;
    list-style: none;
    padding:0px 20px;
    justify-content: space-between;
}
a , button{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: black;
}
button{
    background-color: rgb(193, 192, 192);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

nav li a:hover {
    color: rgb(225, 17, 135);
    transition: all 0.4s ease 0s;
}

button:hover{
    background-color:rgb(253, 203, 231); ;
}

.top-section{
   display: flex;
   align-items: center;
}
.top-section-content{
    width: 49%;
}

.style{
    line-height:70px;
    width: 90%;
    font-size: 48px;
}

.style2{
    display: flex;
    justify-content: start;
    gap: 32px;
    margin-top: 115px;
}
.for-sale{
    border-bottom:1px solid black;
    font-weight: 700px;
}
.for-rent{
    border-bottom:1px solid black;
    font-weight: 700px;
}

.box1{
    height: 100px;
    width: 770px;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-top:40px;
  
}
.search-btn{
    height: 71px;
    width: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    Padding: 32px 64px 32px 64px;
    border-radius: 5px;
    flex-direction: row;
    margin: 587px;
    font-weight: 700;
    size: 18px;
    background-color: #3A9292;
}

.image1{
width: 100%;
}

.second-section{
    display: flex;
    position: relative;
    padding-bottom: 55px;
    margin-top: 200px;
}
.second-section-content{
    width: 45%;
    gap: 23px;
    position: relative;
    padding-bottom: 64px;
}

.second-section-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    width: 404px;
    margin-bottom: 72px;
}

.second-section-features{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-right:191px;
}

.image3{
height:100%;
width:100%;
}
.feature-heading{
margin-bottom: 24px;
}

.feature-para{
font-weight: 400;
font-size: 16px;
line-height: 150%;
}

.second-section-image{
width: 50%;
}

.dotted-image{
position: absolute;
right: 0px;
bottom: 10px;
z-index: -1; 
}

.third-content-heading{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 72px;

}
.third-content-para{
    text-align: center;
    margin: 0 auto;
    width: 32%;
    margin-top: 16px;
}
.f-class{
    display: flex;
    gap:30px;
}
.main-feature{
    width:30% ;
}
.third-section-feature{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-top:72px;
    margin-bottom: 72px;
}

.f-para{
width:75%;
}
.f-heading{
    margin-bottom: 20px;
}
.flex-img4{
    margin-bottom: 20px;
}
.frames{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 84px;
}
.frame-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

}
.frame-para{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}
.frame-price{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.fifth-section{
    background-image: url(./World_map_\(blue_dots\)\ 1.png);
    background-repeat: no-repeat;
    height: 730px;
    position: relative;
    margin-top: 72px;

}
.fifth-section-heading{
    width: 32%;
    margin: 0 auto;
    text-align: center;
}
.fifth-section-card{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
}

.pos-20k{
top: 16%;
left: 0%;
}
.pos-8k{
top: 40%;
left: 30%;
}
.pos-10k{
top: 16%;
left: 60%;
}
.pos-15k{
top: 50%;
left: 80%;
}
.sixth-content-heading{
    font-weight: 700;
    font-size: 36px;
}
.sixth-content-para{
    line-height: 150%;
    margin-top: 16px;
}

.articles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top:52px;
}
.blog{
font-weight: 700;
font-size: 20px;
line-height: 30px;
margin-top: 24px;
}
.read-more{
font-weight: 400;
font-size: 16px;
line-height: 150%;
margin-top: 24px;
}

.seventh-section{
    display: flex;
    align-items: center;
    gap: 400px;
    background-color: #EBFAFA;   
    width: 100%;  
    margin-top: 224px;                                                       
}

.app-div{
    margin-bottom:88px;
    margin-left: 60px;
}
.apps-heading{
font-weight: 700;
font-size: 36px;
line-height: 45px;
margin-top: 30px;
width: 370px;
height: 36px;
}

.apps-para{
font-weight: 400;
font-size: 16px;
line-height: 20px;
width: 370px;
height: 16px;
margin-top: 24px
}

.store{
    width: 164px;
    height: 53px;
    margin-top: 24px;
}
.app-dotted-img{
    width: 370px;
height: 70px;
margin-top: 24px;
}

.eight-footer{
    background-color: #3A9292;   
    height: 368px;
    padding: 64px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.footer-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    line-height: 26px;
    width: 1200px;
    margin-left: 30px;
}

.footer-div ul {
list-style: none;
}
.footer-div li a{
    color: #FFFFFF;
}
.footer-img{
    margin-top: 80px;
    margin-left: 500px;
}



