 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*nav{
    height: 70px;
    width: 100%;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(blue,pink);
}

nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float:left;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
nav ul{
    float: right;
    
}*/
nav li{
    display: inline-block;
    list-style: none;
    
}
/*nav li a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 30px;
    color: black;
}

nav li a:hover{
    color: blue;
    transition: all;
}
nav li button{
    border-radius:5px;
    border: 5px solid red;
    
} */