*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.styleTry{
    height: 250px;
    height: 250px;
    width: 250px;
    background-color: pink;
    margin: 50px;
    padding: 10px;
    border-radius: 9px;
}

.box2{
    height: 250px;
    height: 250px;
    width: 250px;
    background-color:yellow;
    margin: 50px;
    padding: 10px;
    border-radius: 9px;
    float: left;
}